
#header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 740px;
    padding: 30px 0px 6px 0px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;    
    color: white;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 0px;
}

body {
    background-color: #333;
    user-select: none;
}

.container {
    display: inline;
    align-items: center;
    justify-content: center;
    background-color: rgb(99, 99, 99);
    padding: 6px 0px 30px 0px;
    border-radius: 12px;
}

.container-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.count {
    color: white;
}
#info-black, #info-white {
    display: inline;
}

.container-row{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 10px;
}
.green {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    background-color: rgb(115,149,82);
    position: relative;
}

.beige {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    background-color: rgb(188, 190, 145);
    position: relative;
}

.start-0 {
    position: absolute;
    top: 5px; /* Alignement en haut */
    left: 5px; /* Alignement à gauche */
    color: rgb(115,149,82);
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.start-1 {
    position: absolute;
    top: 5px; /* Alignement en haut */
    left: 5px; /* Alignement à gauche */
    color: rgb(188, 190, 145); 
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.end-0 {
    position: absolute;
    bottom: 5px; /* Alignement en bas */
    right: 5px; /* Alignement à droite */
    color: rgb(115,149,82); 
    font-size: 20px;
    padding: 0;
    margin: 0;
}
.end-1 {
    position: absolute;
    bottom: 5px; /* Alignement en bas */
    right: 5px; /* Alignement à droite */
    color: rgb(188, 190, 145);
    font-size: 20px;
    padding: 0;
    margin: 0;
}


.vertical {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 25px;
    background-color: gray;
    position: relative;
    color: white;
    font-size: 20px;
}
.vertical-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 25px;
    background-color: gray;
    position: relative;
}

.horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 90px;
    background-color: gray;
    position: relative;
    color: white;
    font-size: 20px;
}

.piece {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.piece-img {
    height: 80px;
    width: 80px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hud-img {
    height: 24px;
    width: 24px;
}

.accessible {
    box-shadow: inset 0px 0px 0px 5px lightgray;
}

.player-name {
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding-left: 15px;
}

#history {
    display: inline;
    height: 835px;
    width: 300px;
    background-color: black;
    border-radius: 10px;
}